@import url("_reset.css");

/*-------------------------------------------------- CSS HEADER------------------------------- */

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}
.header__logo-box{
  width: 30%;
}
.header__logo-box img {
  width: 100%;
  height: auto;
}

.header__nav-box--main li {
  position: relative;
  display: inline-block;
}

.header__nav-box--main li a {
  padding: 0 20px;

  letter-spacing: 1px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;

  color: #AD6500;
}

.header__nav-box--main li:hover .header__nav-box--sub {
  display: block;
}

.header__nav-box--sub {
  position: absolute;
  display: none;
  width: 200%;
  background-color: #B2B1B9;
}

.header__nav-box--sub a {
  display: block;
  width: 100%;
}
.header__nav-box--sub li:hover a{
  opacity: 0.5;
  transition: all 1s;
  display: block;
  background-color: #FF9F19;
  color: #006BAD;
}


.header__icon{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 2rem;

}
.header__icon i{
  margin: 10px 20px;
  cursor: pointer;
}

/* ----------------------------------------------CSS CHUNG ---------------------------------------*/

.text-title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 4rem;
  margin: 5px;
  line-height: 10rem;
  text-align: center;
  color: #FA9100;
}
.text-title::after{
  content: "";
  display:block;
  margin: 0 auto;
  height: 5px;
  width: 10%;
  background-color: #006BAD;
}
.text-title__main{
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}
.text-title__sub{
  color: #B2B1B9;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.text-slogan {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin: 5rem 0;
  color: #79C9FA;
  font-style: italic;
}
.icon-main {
  display: block !important;
  text-align: center;
  font-size: 4rem;
  color: #39a2db;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.4rem;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.about{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.about-container{
  padding: 20px;
}
.about-box{
  display: flex;
  justify-content: center;
}
.about-box > div {
}
.about-item{
  border: 1px solid #eee;
  padding: 20px;
}
.about-text{

}
.about-text__main{

}
.about-text__sub{

}
/* CCCCCCCC */
.team{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.team-container{
  position: relative;
  margin: 30px;
}
.team-container > img {
  width: 100%;
}
.overlay{  
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgba(22, 25, 25, 0.4);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .4s;
}
.team-container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.team-position{
  transform: translateY(400%);
  color: white;
  text-align: center;
}
.team-position > h3 {
  font-size: 2rem;
}
.team-position > span {
  font-size: 1rem;
  text-transform: capitalize;
}