.head-background{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(
      to right bottom,
      rgba(57, 162, 219, 0.2),
      rgb(162, 219, 250, 0.1)
    ),
    url("../images/car\ \(12\).png");
    background-position: center;
    background-size: cover;
}
.head-background h3 {
  position: relative;
  display: inline;
  left: 20%;
  top: 40%;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}