* {
    color:#053742;
    color: #39A2DB;
    color: #A2DBFA;
    color: #E8F0F2;
    color: rgb(5, 55, 66);
    color: rgb(57, 162, 219);
    color: rgb(162, 219, 250);
    color: rgb(232, 240, 242);
    color: #04009A;
    color: #77ACF1;
    color: #3EDBF0;
    color: #F0EBCC;
}