@import "/css/reset.css";
@import "/css/background.css";

.contact-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
}
.contact-info__item{
    line-height: 2rem;
    margin-top: 4rem;
    width: 30%;
}
.contact-info__item > h3{
    margin-bottom: 2rem;
}
.contact-info__item > i{
    line-height: 4rem;
    font-size: 2rem;
    color: aqua;
    float: left;
}
.contact-form{
    width: 100%;
    height: 500px;
    display: flex;
    border: 1px solid red;
}
.contact-form{
    display: flex;
    width: 100%;
}
.input-text{
    width: 40%;
}