/* RESET CSS */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  /* user-select: none; */
}
/*--------------------- CSS HEADER------------------------------ */
.header {
  background-color: #053742;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.header__logo-box {
  float: left;
  height: 50px;
}

.header__logo {
  height: 100%;
}

.header__nav-box {
  float: left;
  margin-left: 200px;
}

.header__nav-box--main li {
  display: inline-block;
  position: relative;
}

.header__nav-box--main > li > a {
  text-transform: uppercase;
}

.header__nav-box--main > li:hover > a,
.header__nav-box--sub li:hover {
  background-color: rgba(162, 219, 250, 0.5);
  color: #39a2db;
  transition: 0.8s;
}

.header__nav-box--main li a {
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #e8f0f2;
  text-decoration: none;
}

.header__nav-box--main li:hover .header__nav-box--sub {
  display: block;
}

.header__nav-box--sub {
  position: absolute;
  display: none;
  width: 200px;
  height: 150px;
  background-color: rgba(5, 55, 66, 0.7);
}

.header__nav-box--sub li {
  display: block;
}

.header__btn-search {
  float: right;
  line-height: 50px;
  font-size: 20px;
  color: #e8f0f2;
  padding: 0 21px;
}

.header__btn-search:hover {
  cursor: pointer;
  background-color: #39a2db;
}

/* CSS BACKGROUND */
.background {
  height: 1000px;
  margin-top: 50px;
  background-image: linear-gradient(
      to right bottom,
      rgba(57, 162, 219, 0.5),
      rgb(162, 219, 250, 0.8)
    ),
    url("../images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: ellipse(85% 40% at 48% 8%);
  position: relative;
}

.background__text-box {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #e8f0f2;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading-primary--main::selection {
  background: rosybrown;
}

.heading-primary--main {
  display: block;
  font-size: 50px;
  font-weight: 400px;
  letter-spacing: 10px;
  animation: moveInLeft 5s ease-out 1s;
}

.heading-primary--sub {
  display: block;
  font-size: 30px;
  font-weight: 300px;
  letter-spacing: 10px;
  animation: moveInRight 5s ease-in 1s;
}

.btn {
  border: 2px solid #e8f0f2;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  background-color: #053742;
  color: #e8f0f2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn__info {
  color: white;
  background-color: #39a2db;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* CSS FOOTER */
.main-footer {
  width: 1500px;
}

table > tr {
  display: inline;
  width: 30%;
}

table tr td {
  margin-right: 30px;
}
.footer {
  width: 100%;
  background-color: #39a2db;
}
.footer .footer-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.footer-container__about {
  width: 30%;
}
.footer-container__about h2,
.footer-container__info h2 {
  position: relative;
  text-transform: uppercase;
  margin: 10px 0;
}

.footer-container__about h2::after,
.footer-container__info h2::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: red;
}

.footer-container__about--icon {
  display: flex;
  justify-content: space-around;
}
.footer-container__about--icon li {
  font-size: 200%;
  margin: 20px 0;
  list-style-type: none;
}

.footer-container__about--icon li:hover {
  transition: 0.5s;
  opacity: 0.5;
}
.footer-container__about--icon li a:visited {
  background-color: black;
}
.footer-container__info {
  width: 30%;
}
.footer-container__info i {
  margin-right: 15px;
}
.footer-container__info--item li {
  list-style-type: none;
  margin-top: 10px;
}
.footer-container__info--item li a {
  text-decoration: none;
}
.footer-container__map {
  width: 30%;
}
.footer-container__map iframe {
  margin-top: 20px;
}
