@import "_reset.css";
/* CSS INFORMATION */

.section-info {
  width: 100%;
}

.container-info {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.container-info:last-child {
  display: flex;
}
.container-info:last-child .row-1 {
  margin-left: 50px;
  font-size: 16px;
  color: grey;
}
.row-2 {
  padding-left: 50px;
  display: flex;
  justify-content: space-evenly;
}
.container-info:last-child .row-2-sub{
  margin: 30px 0;
  padding: 20px;
}
.section-info-item{
  display: flex;
  flex-direction: column;
}
.row-2-sub > ul {
  list-style-type: none;
}
.section-info-img{
}
.section-info-img > img{
  width: 100%;
}
/* --------------------------------------CSS WASH PACKAGE------------------------------------ */
/* ------VEHICLE-------- */

.vehicle-item-row {
  display: flex;
  justify-content: center;
}
.vehicle-item-col {
  color: #B2B1B9;
  padding: 20px;
  margin-left: 10px;
  list-style-type: none;
  transition: all 1s;
  border: 1px solid #B2B1B9;;
  border-radius: 10px;
}
.vehicle-item-col:hover {
  background-color: #FF9F19;
  color: #006BAD;
  border: 1px solid #FF9F19;
}
.vehicle-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vehicle-item__icon {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}
.vehicle-item__text {
  font-size: 15px;
}
/* ----------PACKAGES----------------- */
.packages-sub{
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.packages-item{
  border: 1px solid #B2B1B9;
  margin: 20px;
  padding: 20px;
}
.packages-item__price {
  display:block;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.packages-item__price p {
  font-size: 12px;
  margin-left: 5px;
}

.packages-item__duration{
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #B2B1B9;
  border-bottom: 1px solid #B2B1B9;
  }
  .packages-item__duration i {
    margin-right: 5px;
  }
.packages-item__service-list{
  height: 450px;
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.btn-booking-box{
  display: block;
  padding: 10px;
  margin: 0 30px;
  color: #FA9100;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #FF9F19;
}
.btn-booking-box:hover{
  transition: all 1s;
  background-color: #79C9FA;
  color: #B2B1B9;
  border: 1px solid #79C9FA;

}
.btn-booking-box a {
  text-decoration: none;
  color: #FF9F19;
}

/* CSS ITEM VALUE */
.container-col-2 {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  background-color: #e8f0f2

}
.img-col{
}
.img-col > img{
  width: 100%;
  overflow: hidden;
}
.item-col {
  display: flex;
  align-items: center;
}
.item-col__main{
  padding-left: 50px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.item-col__sub {
  display: inline;
  width: 50%;
  padding: 20px;
}
/* CSS FOOTER */
.btn {
  background-color: antiquewhite;
  border-radius: 50px;
  color: #494949;
}
.btn, 
.btn:active, .btn:focus {
    border: none;     
    outline: 0;     
    outline-style: none;     
    outline-width: 0; 
}

.activity {
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.activity__item {
  display: flex;
}
/* CSS FOOTER-SUB */
.footer-sub__container {
  margin: 0 auto;
  background-color: #494949;
}
.footer-sub__container h5 {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.footer-sub__box{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.footer-sub__item{
  flex: 1;
  padding: 3rem;
  width: 33%;
}
.footer-sub__item > h5{
  text-transform: uppercase;

}
.footer-sub__item img {
  width: 100%;
  height: auto;
}

.footer-sub__item--nav {
  font-size: 1.6rem;
  line-height: 3rem;
  list-style-type: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.footer-sub__item--nav a{
  text-decoration: none;
  color: #B2B1B9;
}

.footer-sub__item--nav li:hover a {
    transition: 2s;
  text-decoration: underline;
}
input[type=email] {
  width: 70%;
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 1rem;
  height: 50px;
  font-size: 1.4rem;
  color: #FF9F19;
  border-radius: 50px;
  background-color: rgb(53, 51, 51);
  border: 0.5px solid white;
  margin-bottom: 40px;
}
input[type=email]:focus {
  color: #FF9F19;
  font-size: 1.4rem;
  border: 2px solid #FF9F19;
}

.footer-sub__item--submit {
  text-align: center;
  font-weight: 600;
}
.footer-sub__item--submit a{
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #FF9F19;
  border-radius: 40px;
}
.footer-sub__item--submit:hover a {
  background: #FF9F19;
  color: #006BAD;
}
.copy-writer {
  font-size: 1.6rem;
  color: white;
  padding: 0 10px;
  text-align: center;
  padding-bottom: 30px;
}
.copy-writer i {
  padding: 20px;
}
.copy-writer i:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* -----------------------------------------CSS PROJECT----------------------------------*/
.layout{
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

/*-------------------------------------------------- CSS HEADER------------------------------- */
.icon-bar {
  padding: 10px;
  color: black;
  font-size: 22px;
  border: 1px solid black;
  display: none;
  float: right;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;

}
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  background-color: #B2B1B9;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 1;
  opacity: 0.5;
}
.header__logo-box{
  flex: 1;
}
.header__logo-box img {
  width: 100%;
  height: auto;
}

.header__nav-box--main{
  margin: 10px;
}
.header__nav-box--main li {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.header__nav-box--main li a {

  letter-spacing: 1px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;

  color: #AD6500;
}

.header__nav-box--main li:hover .header__nav-box--sub {
  display: block;
}

.header__nav-box--sub {
  position: absolute;
  display: none;
  background-color: #B2B1B9;
}

.header__nav-box--sub a {
  display: block;
  width: 100%;
}
.header__nav-box--sub li:hover a{
  opacity: 0.5;
  transition: all 1s;
  display: block;
  background-color: #FF9F19;
  color: #006BAD;
}


.header__icon{
  flex: 1;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;

}
.header__icon i{
  margin: 10px 20px;
  cursor: pointer;
}

/* ----------------------------------------------CSS CHUNG ---------------------------------------*/

.text-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin: 5px;
  line-height: 10rem;
  text-align: center;
  color: #FA9100;
}
.text-title::after{
  content: "";
  display:block;
  margin: 0 auto;
  height: 2px;
  width: 10%;
  background-color: #006BAD;
}
.text-title__main{
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #006BAD;
}
.text-title__sub{
  color: #B2B1B9;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 2rem;
}
.text-slogan {
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 5rem 0;
  color: #79C9FA;
  font-style: italic;
}
.icon-main {
  display: block !important;
  text-align: center;
  font-size: 4rem;
  color: #39a2db;
}