@media screen and (max-width: 800px) {
    .header {
        display: none;
    }
    .mobile-items{
        font-size: 1.2rem;
    }
    #myCarousel {
        max-width: 100%;
        height: auto;
    }
    .icon-bar {
        display: inline;
    }

    .section-info-item {
        margin: 0;
    }
    .my-btn {
        font-size: 1rem;
        padding: 5px 8px;
    }
    .btn-main-blue {
        margin-top: 20px;
    }
    .vehicle-item__container {
        font-size: 2rem;
    }
    .vehicle-item__icon {
        font-size: 2rem;
    }
    .vehicle-item__text {
        font-size: 1rem;
    }
    .vehicle-item-col {
        width: 50px;
        height: 50px;
    }
    .packages-items {
        flex-wrap: wrap;
    }
    .packages-item {
        width: 20%;
        font-size: 1em;
    }
    .packages-item__price {
        font-size: 1em;
    }
    .row-2 {
        flex-wrap: wrap;
    }
    .container-col-2 {
        flex-wrap: wrap;
    }
    .container-col-2 {
        flex-wrap: wrap;
    }
    .icon-main {
        font-size: 2.5rem;
        text-align: center;
        padding: 5px 0;
    }
    .text-title {
        padding: 20px;
    }
    .text-title::after {
        margin-top: 20px;
    }
    .text-main {
        font-size: 1rem;
        text-align: center;
        line-height: 15px;
        padding: 5px 0;
        margin: 0;
    }
    .text-message {
        font-size: 0.8rem;
        margin: 0;
    }
    /* RES Package */
    .time-sale {
        height: 200px;
    }
    .packages-item {
        padding: 10px;
    }
    .vehicle-item-container {
        padding: 5px;
        margin: 10px;
    }
    .vehicle-item-text {
        color: #ccc;
    }
    .packages-item-price {
        font-size: 3rem;
    }
    .packages-sub {
        width: 100%;
    }
    .service-list {
        line-height: 15px;
    }
    /* RES OUR VALUE */
    .item-col__main {
        padding: 0;
    }
    .item-col__sub {
        width: 50%;
        padding: 5px;
    }
    /* CSS our project */
    .our-project-item {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .our-project-container {
        width: 90%;
    }
    .our-project-item {
        justify-content: space-between;
    }
    .our-project-btn {
        margin: 0;
        margin-bottom: 0;
        padding: 5px 0;
        min-width: 70px;
    }
    .layout-item {
        padding: 5px;
    }
    /* CSS chung */
    #gototop {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 30px;
        height: 30px;
    }
    .icon-bar {
        display: block;
    }
    .mobile-bar {
        display: block;
    }
    .btn-booking-box {
        font-size: 1.2rem;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* RES footer */
    input[type="email"] {
        margin-top: 5px;
        font-size: 0.8rem;
        padding: 5px;
        margin-bottom: 10px;
    }
    .footer-submit > a {
        padding: 5px 10px;
        font-size: 1rem;
    }
    .footer-items {
        font-size: 1rem;
    }
    .copy-writer {
        font-size: 1rem;
    }
    .copy-writer i {
        padding: 5px;
    }
    /* ===============RES Services=================== */
    .background {
        height: 400px;
    }
    .title-head {
        font-size: 2rem;
        top: 40%;
    }
    .activity-container {
        width: 90%;
    }
    .report-item {
        padding: 50px 0;
    }
    /* ================RES ABOUT========================= */
    .about-container {
        width: 100%;
        padding: 20px;
    }
    .team-item {
        padding: 30px;
    }
    .main-container {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    /* RES info */
    .container-info {
        flex-wrap: wrap;
    }
    .section-info-img {
        width: 100%;
    }
    .section-info-item {
        width: 100%;
    }
    .vehicle-item-row {
        flex-wrap: wrap;
    }
    .packages-items {
        flex-wrap: wrap;
    }
    .packages-item {
        margin-top: 40px;
        width: 70%;
    }
    /* RES chung */
    .mobile-items {
        font-size: 1.2rem;
    }
    .icon-main {
        margin-top: 50px;
        font-size: 4rem;
        text-align: center;
        padding: 5px 0;
    }
    .text-title {
        padding: 20px;
        font-size: 3rem;
    }
    .text-title::after {
        margin-top: 20px;
    }
    .text-main {
        font-size: 2rem;
        text-align: center;
        line-height: 15px;
        padding: 15px;
        margin: 0;
    }
    .text-message {
        font-size: 1.2rem;
        margin: 0;
    }
    /* RES value */
    .container-col-2 {
        flex-wrap: wrap;
        width: 100%;
    }
    .img-col {
        width: 100%;
    }
    .item-col {
        width: 100%;
    }
    .item-col-main {
        flex-wrap: wrap;
        padding-left: 0;
    }
    .item-col-sub {
        width: 100%;
    }
    /* RES project */
    .our-project-item {
        flex-wrap: wrap;
    }
    .our-project-item > li {
        padding-top: 10px;
        width: 50%;
    }
    .packages-item-price {
        font-size: 4rem;
    }
    .our-project-layout {
        flex-wrap: wrap;
    }
    .layout-item {
        width: 100%;
    }
    /* RES Footer*/
    .activity {
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
        padding-left: 10px;
        width: 100%;
    }
    .activity-item {
        margin: 20px 0;
    }
    .footer-box {
        flex-wrap: wrap;
    }
    .footer-item {
        width: 100%;
        padding-bottom: 30px;
    }
    .footer-item > span {
        display: block;
        color: white;
        margin: 0 auto;
    }
    .footer-item > p {
        width: 80%;
        margin: 0 auto;
    }
    input[type="email"] {
        padding: 10px;
    }
    /* ==============RES index================ */
    .time-sale {
        flex-wrap: wrap;
        height: 600px;
    }
    .time-count > h3 {
        line-height: 30px;
    }
    .time-img {
        width: 80%;
    }
    /* ==================RES Service================= */
    .intro-service-items {
        flex-wrap: wrap;
    }
    .intro-service-item {
        width: 100%;
    }
    .l-height {
        line-height: 30px;
    }
    .about-container {
        flex-wrap: wrap;
    }
    .col-12 {
        width: 100%;
        margin-top: 50px;
    }
    .activity-items {
        flex-wrap: wrap;
    }
    .activity-item {
        width: 100%;
    }
    .report-container {
        flex-wrap: wrap;
    }
    .report-item {
        width: 100%;
        padding: 120px 0;
    }
    /* ===================Product================ */
    .info-item {
        font-size: 1rem;
    }
    .pic-info-section {
        flex-wrap: wrap;
    }
    .pic-info-section > div {
        width: 100%;
    }
    .pic-info-section > div > figure {
        width: 100%;
    }
    .info-section {
        flex-wrap: wrap;
    }
    .info-section > div {
        width: 100%;
    }
    .info-section h3 {
        line-height: 20px;
    }
    .info-section p {
        margin: 0 auto;
    }
    /* ================Res About ===================== */
    .about-container {
        flex-wrap: wrap;
    }
    .about-container > div:first-child {
        width: 100%;
    }
    .about-container-box {
        width: 100%;
    }
    .about-image {
        width: 100%;
    }
    .about-quantity {
        width: 100%;
    }
    .best-quantity {
        width: 120px;
        height: 120px;
        top: 1%;
        right: 5%;
    }
    .best-quantity h1 {
        font-size: 1rem;
    }
    .best-quantity div {
        transform: translateY(-57%);
    }
    .about-quantity > h1 {
        line-height: 30px;
    }
    .team-items {
        flex-wrap: wrap;
    }
    .team-item {
        width: 100%;
    }
    .working-section-container {
        top: 50%;
        left: 50%;
        width: 80%;
    }
    .help-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 300px;
        text-align: center;
    }
    .help-container > div:nth-child(2) h1 {
        line-height: 30px;
}